<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/user/user.js}"></script>
<script type="text/javascript" th:src="@{/js/config/adress.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	
	<link rel="stylesheet" th:href="@{/css/user/my_ticket_page.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<!-- <link rel="stylesheet" th:href="@{/css/user/user_commond.css}">
	<link rel="stylesheet" th:href="@{/css/user/create_account_form.css}"> -->
	<link th:href="@{/css/include/footer.css}" rel="stylesheet" />
	
	<link rel="icon" type="image/x-icon" th:href="@{/img/icon.png}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
		<header th:replace="~{home.html::top_bar1}">
		</header>
	
	<section>
		
		
		<div id="section_wrap">
			<div class="word">
				<span>MY TICKET</span>
			</div>
		
			
		<div class="my_ticket_info_wrap">
			<div class="my_ticket_page">
				<div class="mtp_title_wrap"> <!-- my ticket page = mtp  -->
					<h3>나의 예약 내역</h3>
				</div>
				<div class="mtp_content_wrap">
					<table>
						<tr>
							<th>예매일</th>
							<th>티켓번호</th>
							<th>썸네일</th>
							<th>공연명</th>
							<th>좌석번호</th>
							<th>관람일시</th>
							<th>수령방법</th>
							<th>결제상태</th>
						</tr>
						<th:block th:if="${combinedDto != null and not #lists.isEmpty(combinedDto['r_reg_date_colection'])}">
						 <tr th:each="index : ${#numbers.sequence(0, ((#arrays.length(combinedDto['r_reg_date_colection'])) - 1))}">
            					
				            <td th:text="${#strings.substringBefore(combinedDto['r_reg_date_colection'][index], ' ')}"></td>
				            <td th:text="${combinedDto['ticket_numbers'][index]}">티켓번호</td>
				            <td>
					            <a th:href="@{/product/{id}(id=${combinedDto['myPIdsList'][index]})}">
					           	 <img th:src="${combinedDto['p_thum_colectiion'][index]}" >
					            </a>
				            </td>
				            <td >
				            	 <a th:href="@{/product/{id}(id=${combinedDto['myPIdsList'][index]})}">
					           		 <span th:text="${combinedDto['p_name_colection'][index]}" ></span>
					            </a>
					        </td>
				            <td th:text="${combinedDto['t_seat_colection'][index]}">좌석번호</td>
				            <td th:text="${#strings.substringBefore(combinedDto['r_date_colection'][index], ' ')} + '  ' + ${combinedDto['r_time_colection'][index]}">관람일시</td>
				            <td th:text="${combinedDto['r_take_ticket_colection'][index]}">수령방법</td>
				            <td th:text="${combinedDto['r_payment_state_colection'][index]}">결제상태</td>
				        </tr>
				        </th:block>
				         <th:block th:if="${combinedDto == null or #lists.isEmpty(combinedDto['r_reg_date_colection'])}">
          				<tr>
			                <td colspan="8" th:text="${noTicketsMessage}"></td>
			            </tr>
			        </th:block>
					</table>
				</div>
			</div>
			<div class="my_ticket_page">
				<div class="mtp_title_wrap">
					<h3>나의 관람 공연</h3>
				</div>
				<div class="mtp_content_wrap">
					<table>
							<tr>
								<th>후기번호</th>
								<th>공연명</th>
								<th>별점</th>
								<th>나의리뷰</th>
								<th>작성일</th>
							</tr>
							<th:block th:if="${combinedforReview != null and !#lists.isEmpty(combinedforReview['rv_reg_date_colection'])}">
								<tr th:each="index : ${#numbers.sequence(0, #arrays.length(combinedforReview['rv_reg_date_colection']) - 1)}">
									<td th:text="${combinedforReview['rv_no_colection'][index]}" >후기번호</td>
									<td th:text="${combinedforReview['p_name_colection'][index]}">공연명</td>
									<td th:text="${combinedforReview['rv_score_colection'][index]}">별점</td>
									<td>
										<a th:href="@{'/product/' + ${combinedforReview['p_ids'][index]}}+'#review'"> 
											<span  th:text="${combinedforReview['rv_txt_colection'][index]}"></span>
										 </a> 
									</td>
									<td th:text="${#strings.substringBefore(combinedforReview['rv_reg_date_colection'][index], '.')}">작성일</td>
								</tr>
							</th:block>
						 <th:block th:if="${combinedforReview == null or #lists.isEmpty(combinedforReview['rv_reg_date_colection'])}">
	          				<tr>
				                <td colspan="5" th:text="${noReviewMessage}"></td>
				            </tr>
			       		 </th:block>
					</table>
				</div>
			</div>
		</div>
		
		</div>		
				
	
	</section>
	
	
	<footer th:replace="~{/include/header_footer_nav.html::footer}"></footer>
</body>
</html>