<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/user/do_find_info.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<link rel="stylesheet" th:href="@{/css/user/user_login_form.css}">
<link rel="stylesheet" th:href="@{/css/user/user_commond.css}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<link th:href="@{/css/include/footer.css}" rel="stylesheet" />
</head>
<body>
	<header th:replace="~{/user/create_account_form.html::header}">
	</header>
	
	<section>
		<div id="section_wrap">
			<div class="word" id="login_wrap">
				<span>비밀번호 찾기</span>
			</div>
			<div class="find_password_form">
				<form th:action="@{/user/user_password_find}" name="user_password_find" method="post">
					<div class="input_info">
	          		 	 <label><b>아이디  &emsp;&emsp;&emsp;</b><br/>
	           			 <input type="text" name="u_id"></label> 
           			</div>
				
					<div class="input_info">
		           		 <label><b>이메일  &emsp;&emsp;&emsp;</b><br>
				         <input type="text" name="u_mail_pre"></label> <span>@</span> 
				         <input type="text" name="u_mail_suf"><br>
			             <input type="hidden" name="u_mail">
					</div>
					
					<div>
						<input type="button" class="submit_btn"  value="비밀번호찾기" onclick="findPassword();">
						<input type="reset" class="reset_btn" value="초기화">	<br />
					</div>
					
					<div class="sub_menu_wrap">
						<a th:href="@{/user/create_account_form}">&emsp;&emsp;회원가입</a>
						&emsp;&emsp;&emsp;&nbsp;&nbsp;<span>|</span>&emsp;&emsp;&emsp;
						<a th:href="@{/user/user_login_form}">로그인</a>
					</div>
				</form>
				
			</div>
			</div>
	</section>
	
	
	<footer th:replace="~{/include/header_footer_nav.html::footer}"></footer>
</body>
</html>