@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
 @font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
          
body {
    font-family: 'LINESeedKR-Rg';
}

/* number 증가 감소 버튼 제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input_info input {
	width: 200px;
	height: 30px;
	font-size: 15px;
}

#checkId ,
#find_zip_code {
	width: 100px;
}


.input_info:nth-child(7) input,
.input_info:nth-child(8) input {
	width: 140px;
}


.input_info:nth-child(9) input {
	margin-bottom: 5px;
}
.input_info:nth-child(9) #address {
	width: 500px;
}
#detailAddress,
#extraAddress {
	width: 246px;
}

.input_info span {
	color: #265073;
}

.input_info input.u_phone {
	width:100px;
}