@charset "UTF-8";
/* number 증가 감소 버튼 제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input_info input {
	width: 200px;
	height: 30px;
	font-size: 15px;
}

#checkId ,
#find_zip_code {
	width: 100px;
}

.input_info:nth-child(8) input {
	width: 80px;
}

.input_info:nth-child(9) input {
	margin-bottom: 5px;
}
.input_info:nth-child(9) #address {
	width: 500px;
}
#detailAddress,
#extraAddress {
	width: 246px;
}

.input_info span {
	color: #265073;
}