@charset "UTF-8";
@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
 @font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
          
body {
    font-family: 'LINESeedKR-Rg';
}
section {
	width: 100%;
	padding: 30px 0;
}
section #section_wrap {
	width: 800px;
	height: 500px;
	margin: 0 auto;
}

section #section_wrap .word {
	font-size: 2.0em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
	color: #2D9596;
	
}

.create_account_form,
.login_form {
	padding-left: 250px;
}

/* 양식 내부 버튼 모든 버튼 */
form input[type="button"],
input[type="reset"],
#check_id_msg{
	background-color: #9AD0C2;
	border-color: #2D9596;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #265073;
}

/* 양식 내 하단 submit btn */
.submit_btn, 
.reset_btn {
	width: 150px;
	height: 40px;
	margin-top: 20px;
}

/* 양식 내 모든 버튼 호버시 */
form input[type="button"]:hover,
input[type="reset"]:hover,
#check_id_msg:hover{
 background-color: #2D9596;
 border-color: #9AD0C2;
 color: #F1FADA;
 cursor: pointer;
}

b {
	font-size: 1.0em;
	color: #265073;
} 

form > div {
	margin-top: 10px;
}

form input[type="text"],
form input[type="password"],
form input[type="number"] {
	border-color: #9AD0C2;
	border-width: 0 0 1px;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus {
	outline: none;
}

.all_user_form_wrap {
	margin-bottom: 120px;
}