@charset "UTF-8";
.input_info input {
  width: 300px;
  height: 30px;
}

form div:last-child{
  border-top: 1px solid #9AD0C2;
  width: 300px;
  margin-top: 30px;
}

.sub_menu_wrap span {
  color: #9AD0C2;
}

.sub_menu_wrap a {
  color: #265073;
}

#login_form {
	margin-top :200px;
}

.login_rs_message {
	font-size: 2em;
    font-weight: bold;
}
