@charset "UTF-8";

@font-face {
	font-family: 'LINESeedKR-Th';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'LINESeedKR-Rg';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'LINESeedKR-Bd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: 'LINESeedKR-Rg';
}

section {
	width: 100%;
}

section #section_wrap {
	width: 860px;
	height: 820px;
	margin: 0 auto;
}

section #section_wrap .word {
	font-size: 2.0em;
	font-weight: bold;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	color: #2D9596;

}

.find_password_form,
.create_account_form,
.login_form {
	padding-left: 250px;
}

/* 양식 내부 버튼 모든 버튼 */
form input[type="button"],
input[type="reset"] {
	background-color: #9AD0C2;
	border-color: #2D9596;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #265073;
}

/* 양식 내 하단 submit btn */
.submit_btn,
.reset_btn {
	width: 150px;
	height: 40px;
	margin-top: 20px;
	margin-right: 20px;
}

/* 양식 내 모든 버튼 호버시 */
form input[type="button"]:hover,
input[type="reset"]:hover,
#check_id_msg:hover {
	background-color: #2D9596;
	border-color: #9AD0C2;
	color: #F1FADA;
	cursor: pointer;
}

b {
	font-size: 1.0em;
	color: #265073;
	margin-top: 5px;
}

form>div {
	margin-top: 15px;
}

form input[type="text"],
form input[type="password"],
form input[type="number"] {
	border-color: #9AD0C2;
	border-width: 0 0 1px;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus {
	outline: none;
}

/* .all_user_form_wrap {
	margin-bottom: 120px;
} */

form input[name="u_mail_pre"],
form input[name="u_mail_suf"] {

	width: 140px;
}

/*  비밀번호 찾기 결과 페이지 */
.find_pw_rs_msg {
	text-align: center;
	margin: 0 auto;
}

/* header */
#header_wrap {
	text-align: right;
	margin-top: 20px;
}

#header_wrap a {
	font-weight: bold;
	font-size: 18px;
	margin-right: 30px;
	color: #2D9596;
	margin-top: 20px;

}

form[name="modify_form"] {
	width: 800px;
	height: 720px;
}