<script th:inline="javascript">
    /*<![CDATA[*/
    var allConcerts = /*[[${categoryDtos}]]*/ 'default';

    // 오늘 날짜를 구합니다.
    var today = new Date();
    today.setHours(0, 0, 0, 0); // 오늘 날짜의 시간을 00:00:00으로 설정

    // 개봉 예정작만 필터링합니다.
    var upcomingConcerts = allConcerts.filter(function(concert) {
        // concert.pStartDate는 'yyyy-mm-dd' 형식이어야 합니다.
        var concertDate = new Date(concert.p_start_date);
        return concertDate >= today;
    });
	console.log(allConcerts);
    // 개봉 예정작을 최대 6개까지만 가져옵니다.
    upcomingConcerts = upcomingConcerts.slice(0, 6);

    // 화면에 개봉 예정작을 표시합니다.
    $('#upcoming').empty();
	upcomingConcerts.forEach(function(concert) {
    $('#upcoming').append('<li><div class="item"><a href="/product/' + concert.p_id + '"><img src="' + concert.p_thum + '"></a></div><div class="item_title">' + concert.p_name + '</div></li>');
});
    /*]]>*/
    
</script>