<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.worldcup.admin.AdminDao" >
	<select id="selectAdminById" 
			parameterType="String" 
			resultType="AdminDto">
		
		SELECT 
			* 
		FROM 
			TBL_ADMIN 
		WHERE 
			A_ID = #{adminId};
			
	</select>
</mapper>