@charset "UTF-8";
/* 드롭다운 이미지 */
#dropdown_wrap {
    position: relative;
    display: inline-block;
}
#dropdown_wrap > a{
	margin-top: 22px;
}
/* 드롭다운 하위 메뉴 wrap */
#dropdown_menu {
 	display: none;
    position: absolute; 
    min-width: 10px;
    z-index: 1;
    top: 100%; 
    padding: 1px;
    text-align: center;
    margin-left: -38px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 100px;
    margin-top:-8px;
   
}
/* #dropdown_menu > div > a {
    width: 100%;
    color: #fff;
    font-size: 1.0em;
    padding: 2px;
    margin: 0;
    text-align: center;
} */

#dropdown_wrap:hover #dropdown_menu {
    display: block;
}

#dropdown_menu > div > a:hover {
	width: 100px;
    color: #265073;  
    font-size: 1.1em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
    
}
#dropdown_menu a {
	display: block;
    text-align: center;
     width: 100%;
    color: #fff;
    font-size: 1.0em;
    margin: 0;

}

#dropdown_wrap:hover #dropdown_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}