<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/admin/admin_management.css}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/admin/admin_management.js}"></script>

</head>
<body>

	<div class="container">
		<div th:replace="~{/admin/side_bar.html::sidebar}"></div>
		
		<div class="main">
			<h1>어드민 관리</h1>
			
			<div class="admin_search">
				<form th:action="@{/admin/admin_search}" name="admin_search_form" method="get">
					<span>아이디</span>
					<input type="text" name="search_a_id">
					<span>이름</span>
					<input type="text" name="search_a_name">
					<span>메일</span>
					<input type="text" name="search_a_mail">
					<input type="button" value="검색" 	id="admin_search_btn">
				</form> 
			</div>
			
			<div class="admin_table">
				<table>
					<thead>
						<tr>
							<th>No</th>
							<th>아이디</th>
							<th>이름</th>
							<th>메일</th>
							<th>연락처</th>
							<th>가입일</th>
							<th>최근수정일</th>
							<th>수정/삭제</th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="admin : ${adminList}">
					        <td th:text="${admin.a_no}"></td>
					        <td th:text="${admin.a_id}"></td>
					        <td th:text="${admin.a_name}"></td>
					        <td th:text="${admin.a_mail}"></td>
					        <td th:text="${admin.a_phone}"></td>
					        <td th:text="${admin.a_reg_date}"></td>
					        <td th:text="${admin.a_mod_date}"></td>
					        <td>
								<button th:attr="onclick='adminModify(\'' + ${admin.a_id} + '\')'">수정</button>
								<button th:attr="onclick='adminDelete(\'' + ${admin.a_no} + '\',\'' + ${admin.a_id} + '\')'">삭제</button>
					        </td>
					    </tr>
					</tbody>
				</table>
			</div>
			
			<div class="modal_wrap">
				<div class="admin_modify">
					<div class="close_bar">
						<button onclick="modify_close()">X</button>
					</div>
					
					<div class="form_wrap">
						<form id="modify_form" th:action="@{/admin/admin_modify_confirm}" name="modify_form" method="post">
			          		<input type="hidden" name="a_no" >
			          		
			          		<div class="input_info">
			          		  <b>아이디  &emsp;&emsp;&emsp;</b><br/>
			           			<input type="text" name="a_id" readonly disabled><br>
			           			
							</div>
							
							<div class="input_info">
						         <label><b>이름  &emsp;&emsp;&emsp;</b><br>
						         <input type="text" name="a_name"></label> <br>
					       </div>
					        
					        <div class="input_info">
						         <label><b>이메일  &emsp;&emsp;&emsp;</b><br>
						         <input type="text" name="a_mail_pre" class="a_mail_pre" id="a_mail_pre"> <span>&emsp;@</span> 
						         <input type="text" name="a_mail_suf" class="a_mail_suf"><br>
					             <input type="hidden" name="a_mail">
					             </label>
				             </div>
				             
				             <div class="input_info">
					           	 <label for="a_phone_pre"><b>휴대전화</b><br>
					             <input type="number" class="a_phone" value="010" name="a_phone_bas"> - 
					             <input type="number" id="a_phone_pre" class="a_phone" name="a_phone_pre"> - 
					             <input type="number" class="a_phone" name="a_phone_suf"><br>
					             <input type="hidden" name="a_phone">
					             </label>
				             </div>
							
							<div class="button_wrap">	
								 <input type="button" class="submit_btn" value="정보수정" onclick="modifyConfirm();">
							</div>
						</form>	
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>