<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/admin/admin_management.css}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/admin/admin_management.js}"></script>

</head>
<body>

	<div class="container">
		<div class="sidebar">
			 <ul>
				 <li>
				 	  <a th:href="@{/admin}">Admin Home</a>
				 </li>
				 <li>
				 	  <a th:href="@{/admin/user_management}">유저 관리</a>
				 </li>
				 <li>
				 	  <a th:href="@{/admin/admin_regist}">어드민 등록</a>
				 </li>
				 <li class="active">
				 	  <a th:href="@{/admin/admin_management}">어드민 관리</a>
				 </li>
				 <li>
				 	  <a th:href="@{/admin/perfomance_regist}">공연 등록</a>
				 </li>
				 <li>
				 	  <a th:href="@{/admin/performance_modify}">공연 정보 수정</a>
				 </li>
 				 <li>
				 	  <a th:href="@{/admin/review_management}">공연 리뷰 관리</a>
				 </li>
				 <li>
				 	  <a th:href="@{/admin/ticket_state}">티켓 예매 현황</a>
				 </li>
				 <li class="logout">
				 	  <a th:href="@{/}">로그아웃</a>
				 </li>
			</ul>
		</div>
		
		<div class="main">
			<h1>어드민 관리</h1>
			
			<div class="user_search">
				<form th:action="@{/admin/admin_search}" name="admin_search_form" method="get">
					<input type="hidden" id="csrfToken" th:value="${_csrf.token}"/>
					<span>아이디</span>
					<input type="text" name="a_id">
					<span>이름</span>
					<input type="text" name="a_name">
					<span>메일</span>
					<input type="text" name="a_mail">
					<input type="button" value="검색" 	id="admin_search_btn">
				</form> 
			</div>
			
			<div class="admin_table">
				<table>
					<thead>
						<tr>
							<th>No</th>
							<th>아이디</th>
							<th>이름</th>
							<th>메일</th>
							<th>연락처</th>
							<th>가입일</th>
							<th>최근수정일</th>
							<th>수정/삭제</th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="admin : ${adminList}">
					        <td th:text="${admin.a_no}"></td>
					        <td th:text="${admin.a_id}"></td>
					        <td th:text="${admin.a_name}"></td>
					        <td th:text="${admin.a_mail}"></td>
					        <td th:text="${admin.a_phone}"></td>
					        <td th:text="${admin.a_reg_date}"></td>
					        <td th:text="${admin.a_mod_date}"></td>
					        <td>
								<button th:attr="onclick='adminModify(\'' + ${admin.a_no} + '\')'">수정</button>
								<button th:attr="onclick='adminDelete(\'' + ${admin.a_no} + '\',\'' + ${admin.a_id} + '\')'">삭제</button>
					        </td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</body>
</html>