<div class="sidebar" th:fragment="sidebar">
	 <ul>
		 <li class="home">
		 	  <a th:href="@{/admin}">Admin Home</a>
		 </li>
		 <li class="user_management">
		 	  <a th:href="@{/admin/user_management}">유저 관리</a>
		 </li>
		 <li th:if="${session.loginedAdminDto.a_id == 'super'}"
		 	 class="admin_regist">
		 	  <a th:href="@{/admin/admin_regist}">어드민 등록</a>
		 </li>
		 <li th:if="${session.loginedAdminDto.a_id == 'super'}"
		 	 class="admin_management">
		 	  <a th:href="@{/admin/admin_management}">어드민 관리</a>
		 </li>
		 <li class="perfomance_regist">
		 	  <a th:href="@{/admin/perfomance_regist}">공연 등록</a>
		 </li>
		 <li class="ticket_management">
		 	  <a th:href="@{/admin/ticket_management}">공연 회차/티켓 관리</a>
		 </li>
		 <li class="performance_modify">
		 	  <a th:href="@{/admin/performance_modify}">공연 정보 관리</a>
		 </li>
		 <li class="review_management">
		 	  <a th:href="@{/admin/review_management}">공연 리뷰 관리</a>
		 </li>
		 <li class="ticket_state">
		 	  <a th:href="@{/admin/ticket_state}">티켓 예매 현황</a>
		 </li>
		 <li class="logout">
		 	  <a th:href="@{/admin/logout}">로그아웃</a>
		 </li>
	</ul>
</div>