<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/admin/user_management.css}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/admin/user_management.js}"></script>

</head>
<body>

	<div class="container">
		<div th:replace="~{/admin/side_bar.html::sidebar}"></div>
			
			<div class="user_table">
				<table>
					<thead>
						<tr>
							<th>No</th>
							<th>아이디</th>
							<th>이름</th>
							<th>메일</th>
							<th>연락처</th>
							<th>가입일</th>
							<th>최근수정일</th>
							<th>수정/삭제</th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="user : ${userList}">
					        <td th:text="${user.u_no}"></td>
					        <td th:text="${user.u_id}"></td>
					        <td th:text="${user.u_name}"></td>
					        <td th:text="${user.u_mail}"></td>
					        <td th:text="${user.u_phone}"></td>
					        <td th:text="${user.u_reg_date}"></td>
					        <td th:text="${user.u_mod_date}"></td>
					        <td>
								<button th:attr="onclick='UserModify(\'' + ${user.u_no} + '\')'">수정</button>
					            <button th:attr="onclick='UserDelete(\'' + ${user.u_no} + '\',\'' + ${user.u_id} + '\')'">삭제</button>
					        </td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</body>
</html>