<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title th:replace="~{/include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/admin/user_management.css}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/admin/user_management.js}"></script>

</head>
<body>

	<div class="container">
		<div th:replace="~{/admin/side_bar.html::sidebar}"></div>
		
		<div class="main">
			<h1>유저 관리</h1>
			
			<div class="user_search">
				<form th:action="@{/admin/user_search}" name="user_search_form" method="post">
					<span>아이디</span>
					<input type="text" name="search_u_id">
					<span>이름</span>
					<input type="text" name="search_u_name">
					<span>메일</span>
					<input type="text" name="search_u_mail">
					<input type="button" value="검색" 	id="user_search_btn">
				</form> 
			</div>
			
			<div class="user_table">
				<table>
					<thead>
						<tr>
							<th>유저번호</th>
							<th>아이디</th>
							<th>이름</th>
							<th>메일</th>
							<th>연락처</th>
							<th>가입일</th>
							<th>최근수정일</th>
							<th>수정/삭제</th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="user : ${userList}">
					        <td th:text="${user.u_no}"></td>
					        <td th:text="${user.u_id}"></td>
					        <td th:text="${user.u_name}"></td>
					        <td th:text="${user.u_mail}"></td>
					        <td th:text="${user.u_phone}"></td>
						    <td th:text="${#strings.substring(user.u_reg_date, 0, 10)}"></td>
    						<td th:text="${#strings.substring(user.u_mod_date, 0, 10)}"></td>
					        <td>
								<button th:attr="onclick='UserModify(\'' + ${user.u_id} + '\')'">수정</button>
					            <button th:attr="onclick='UserDelete(\'' + ${user.u_no} + '\',\'' + ${user.u_id} + '\')'">삭제</button>
					        </td>
					    </tr>
					</tbody>
				</table>
				<div class="pagination">
				    <a th:href="@{/admin/user_management(page=${((currentPage - 1) / 10) * 10})}" th:if="${currentPage > 10}">&lt;</a>
				    
				    <th:block th:with="startPage=${((currentPage - 1) / 10) * 10 + 1}, endPage=${startPage + 9}">
				        <span th:each="page : ${#numbers.sequence(startPage, endPage < totalPages ? endPage : totalPages)}">
				            <a th:href="@{/admin/user_management(page=${page})}" th:text="${page}" th:classappend="${page == currentPage ? 'active' : ''}"></a>
				        </span>
				    </th:block>
				    
				    <a th:href="@{/admin/user_management(page=${((currentPage - 1) / 10 + 1) * 10 + 1})}" th:if="${currentPage < totalPages - 9}">&gt;</a>
				</div>
			</div>
			
			<div class="modal_wrap">
				<div class="user_modify">
					<div class="close_bar">
						<button onclick="modify_close()">X</button>
					</div>
					
					<div class="form_wrap">
						<form id="modify_form"  name="modify_form">
			          		<input type="hidden" name="u_no" >
			          		
			          		<div class="input_info">
			          		  <b>아이디  &emsp;&emsp;&emsp;</b><br/>
			           			<input type="text" name="u_id" readonly disabled><br>
			           			
							</div>
							
							<div class="input_info name_info">
						         <label><b>이름  &emsp;&emsp;&emsp;</b><br>
						         <input type="text" name="u_name"></label> <br>
					       </div>
					       
					       <div class="input_info sc_info">
					            <label for="u_sc_num_suf"><b>주민등록번호  &emsp;&emsp;&emsp;</b> <br>
			           			<input type="text" name="u_sc_num_pre" readonly disabled>
			               	 <span>-</span>&nbsp;
			           		    <input type="password" id="u_sc_num_suf" name="u_sc_num_suf" value="*******" readonly disabled><br>
				               	<input type="hidden" name="u_sc_num">
					         	</label>
					        </div>
					        
					        <div class="input_info mail_info">
						         <label><b>이메일  &emsp;&emsp;&emsp;</b><br>
						         <input type="text" name="u_mail_pre" class="u_mail_pre" id="u_mail_pre"> <span>@</span> 
						         <input type="text" name="u_mail_suf" class="u_mail_suf"><br>
					             <input type="hidden" name="u_mail">
					             </label>
				             </div>
				             
				             <div class="input_info phone_info">
					           	 <label for="u_phone_pre"><b>휴대전화	&emsp;&emsp;&emsp;</b><br>
					             <input type="number" class="u_phone" value="010" name="u_phone_bas"> - 
					             <input type="number" id="u_phone_pre" class="u_phone" name="u_phone_pre"> - 
					             <input type="number" class="u_phone" name="u_phone_suf"><br>
					             <input type="hidden" name="u_phone">
					             </label>
				             </div>
				             
				             <div class="input_info">
				     		 	 <label><b>주소	&emsp;&emsp;&emsp;</b><br>
								 <input type="text" id="postcode" name="postcode" placeholder="우편번호"></label>
								 <input type="button" id="find_zip_code"onclick="execDaumPostcode()" value="우편번호 찾기"><br>
								 <input type="text" id="address" name="address" placeholder="주소"><br>
								 <input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소">
							     <input type="text" id="extraAddress" name="extraAddress" placeholder="참고항목"><br>
								 <input type="hidden" name="u_address">
							</div>
							
							<div>	
								 <input type="button" class="submit_btn" value="정보수정" onclick="modifyConfirm();">
							</div>
						</form>	
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>