<div class="game_list_item" th:fragment="item"> 
	<div class="game">
		<div class="item1">
			<img th:src="@{/img/dummy/꼬부기.jpg}">
		</div>
		<div class="item2">
			<img th:src="@{/img/dummy/파이리.jpg}">
		</div>
		<img class="vs" th:src="@{/img/game/vs_icon.png}">
		<div class="like">
			<img th:src="@{/img/game/like_icon.png}">
			<span>1,200</span>
		</div>
	</div>
	
	<div class="gama_txt">
		<p class="gmae_title">
			좋아하는 포켓몬 토너먼트
		</p>
		<p class="game_info">
			가장 좋아하는 포켓몬을 골라보세요.
			Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
		</p>
	</div>	
</div>