<header th:fragment="header">

	<div class="header_wrap">
		<a class="logo" th:href="@{/}">
			<img th:src="@{/img/include/logo.png}">
		</a>
		
		<div class="link" th:if="${session.loginedUserDto == null}">
			<a th:href="@{/user/create_account_form}">회원가입</a>
			<a th:href="@{/user/user_login_form}">로그인</a>
			<a th:href="@{/user/user_modify_form}">정보수정</a>
		</div>
		<div class="link" th:if="${session.loginedUserDto != null}">
			<a th:href="@{/}">나의 게임</a>	<!-- hover로 메뉴 추가 -->
			<a th:href="@{/}">마이페이지</a>
			<a th:href="@{/}">로그아웃</a>
		</div>
		<div class="link" th:if="${session.loginedAdminDto != null}">
			<a th:href="@{/}">정보 수정</a>
			<a th:href="@{/}">게임 관리</a>
			<a th:href="@{/}">유저 관리</a>
			<a th:href="@{/}">광고 관리</a>
			<a th:href="@{/}">신고 관리</a>
		</div>
		<!--
		<div class="link" th:if="${session.loginedAdminDto.getAId == 'super'}">
			<a th:href="@{/}">어드민 관리</a>
		</div>
		-->
	</div>

</header>


<nav th:fragment="nav">
	<div class="nav_wrap">
		<div class="list_change_btn"> 
			<a href="#none">조회순</a>
			<a href="#none">인기순</a>
			<a href="#none">최신순</a>
		</div>
		
		<div class="search">
			<div class="serach_txt">
				<input type="text" 		placeholder="토너먼트를 검색하세요.">
				<input type="button" 	value="검색">
			</div>
		</div>
	</div>
</nav>


<footer th:fragment="footer">
	<div class="footer_wrap"> 
		<div class="footer_link">
			<a href="#none">회사소개</a>&nbsp;|
			<a href="#none">이용약관</a>&nbsp;|
			<a href="#none">개인정보처리방침</a>&nbsp;|
			<a href="#none">청소년보호정책</a>&nbsp;|
			<a href="#none">이용안내</a>&nbsp;|
			<a href="#none">티켓판매안내</a>
		</div>
		<div class="footer_info">
			<div class="footer_logo">
			<a th:href=@{/}><img alt="" th:src="@{/img/include/logo.png}"></a>
			</div>
			<div class="footer_company">
				<p>TikeTi</p>
				<p>경기도 의정부시 의정부2동 센트럴 타워 442-12 6층 | 대표 : 밥스택</p>
				<p>개인정보보호책임자 : 밥스택 bobstack@bob.com | 고객센터 : 031-1111-1111</p>
				<p>Copyright © 2024, 밥스택. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>