<div class="empty"></div>
<div class="category">
	<a th:href="@{/category/concert}">콘서트</a>&nbsp;&nbsp;
	<a th:href="@{/category/musical}">뮤지컬</a>&nbsp;&nbsp;
	<a th:href="@{/category/theater}">연극</a>&nbsp;&nbsp;
	<a th:href="@{/category/classic}">클래식</a>&nbsp;&nbsp;
	<a th:href="@{/category/exhibition}">전시</a>
</div>
<div class="search">
	<form th:action="@{/search}" name="search_form1" method="get" onsubmit="return validateSearch()">
		<input type="text" name="search_value" id="search_input">&nbsp;&nbsp;
		<input type="button" value="search" class="material-symbols-outlined" style="color:#dadada" th:onclick="searchIcon();">&nbsp;&nbsp;&nbsp;&nbsp;
	</form>

	<a th:href="@{/}"><span class="material-symbols-outlined" style="color:#dadada">confirmation_number</span></a>&nbsp;&nbsp;
  <div id="dropdown_wrap">
	<a th:href="@{/user/myPage}"><span class="material-symbols-outlined" style="color:#dadada">account_circle</span></a>&nbsp;&nbsp;
  <div id="dropdown_menu">	
 	 <div th:if="${session.loginedUserDto == null}">
		<a th:href="@{/user/user_login_form}">로그인</a><br/>
		<a th:href="@{/user/create_account_form}">회원가입</a><br/>
	 </div>
	 <div  th:unless="${session.loginedUserDto == null}">
		<a th:href="@{/user/my_ticket_page}">나의티켓</a><br/>
		<a th:href="@{/user/user_modify_form}">정보수정</a><br/>
		<a th:href="@{/user/user_logout_confirm}">로그아웃</a><br/>
		<a th:href="@{/user/user_delete_form}">회원탈퇴</a>
 	</div>
  </div>
 </div>
</div>