<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>티켓 예매</title>

<link rel="stylesheet" th:href="@{/css/ticket_reservation/ticket_reservation._step3.css}">

</head>
<body>

    <section>
        <div class="section_wrap">
           <div class="reservation_wrap">
                <div class="step">
                    <div class="step1">
                        <span>날짜/시간</span>
                    </div>
                    <div class="step2">
                        <span>좌석선택</span>
                    </div>
                    <div class="step3">
                        <span>할인/수령</span>
                    </div>
                    <div class="step4">
                        <span>결제</span>
                    </div>
                    <img th:src="@{/img/include/logo-white.png}">
                </div>

                <div class="reservation">

                </div>
           </div>

           <div class="reservation_info">
                <div class="performance">
                    <img th:src="@{/img/ticket_reservation/thum.jpg}">
                    <div class="performance_info">
                        <p class="name">2024 KIM MYUNGSOO BIRTHDAY PARTY</p>
                        <p class="date">2024.03.10~2024.03.10</p>
                        <p class="location">YES24 LIVE HALL</p>
                    </div>
                </div>
                
                <div class="select_show">

                </div>

                <a class="pre_button" th:href="@{/reservation/step2}">
                    이전 단계
                </a>

                <a class="next_button" th:href="@{/reservation/step4}">
                    다음 단계
                </a>
           </div>
        </div>
    </section>

</body>
</html>