<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>티켓 예매</title>

<link rel="stylesheet" th:href="@{/css/ticket_reservation/ticket_reservation._step2.css}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script th:src="@{/js/ticket_reservation/ticket_reservation_step2.js}"></script>

</head>
<body>

    <section>
        <div class="section_wrap">
           <div class="reservation_wrap">
                <div class="step">
                    <div class="step1">
                        <span>날짜/시간</span>
                    </div>
                    <div class="step2">
                        <span>좌석선택</span>
                    </div>
                    <div class="step3">
                        <span>할인/수령</span>
                    </div>
                    <div class="step4">
                        <span>결제</span>
                    </div>
                    <img th:src="@{/img/include/logo-white.png}">
                </div>

                <div class="reservation">
                    <div class="theater">
                        <div class="stage">STAGE</div>
                        <div class="seating-area">
                        
                        </div>
                    </div>
                </div>
           </div>

           <div class="reservation_info">
                <div class="performance">
                    <img th:src="@{/img/ticket_reservation/thum.jpg}">
                    <div class="performance_info">
                        <p class="name">2024 KIM MYUNGSOO BIRTHDAY PARTY</p>
                        <p class="date">2024.03.10~2024.03.10</p>
                        <p class="location">YES24 LIVE HALL</p>
                    </div>
                </div>
                
                <div class="select_show">
                    <p>선택한 좌석</p>
                </div>
                
                <div class="money">
                    <p>결제 정보</p>
                    <div class="line">
                        <span class="label">티켓금액</span> 
                        <span class="plus_value">0원</span>
                    </div>
                    <div class="line">
                        <span class="label">예매수수료</span>
                        <span class="plus_value">0원</span>
                    </div>
                    <div class="line">
                        <span class="label">배송료</span>
                        <span class="plus_value">0원</span>
                    </div>
                    <div class="line">
                        <span class="label">총 금액(+)</span>
                        <span class="plus_total">0원</span>
                    </div>
                    <div class="line">
                        <span class="label">할인금액</span>
                        <span class="minus_value">0원</span>
                    </div>
                    <div class="line">
                        <span class="label">할인쿠폰</span>
                        <span class="minus_value">0원</span>
                    </div>
                    <div class="line">
                        <span class="label">총 할인금액(-)</span>
                        <span class="minus_total">0원</span>
                    </div>
                    <div class="line">
                        <span class="label">최종 결제 금액</span>
                        <span class="total_value">0원</span>
                    </div>
                </div>

                <a class="pre_button" th:href="@{/reservation/step1}">
                    이전 단계
                </a>

                <button class="next_button">
				  	다음 단계
				</button>
           </div>
        </div>
    </section>

</body>
</html>