body{
	margin: 0;
	padding: 0;
	background-color:#fff;
	 font-family: 'LINESeedKR-Rg';
}
.review_title img {
    min-width: 100px;
    max-width: 100px;
    min-height: 120px;
    max-height: 120px;
    margin: 30px 10px 30px ;
}

.review_title {
    display: flex;
    height: 170px;
    
    background-color:#dadada;
    margin-bottom: 20px;
     align-items : center;
}
.review_title div{
	background-color:#dadada;
}
.review_title .close{
	align-self: flex-start;
}

.review_title h3 {
	vertical-align:middle;
	font-size: 1.8em;
	width:600px;
	
}
.review_wrap p {
	text-align: left;
	margin:0;
	
}
ul {
    list-style: none;
}
textarea {
	
	max-width: 700px;
	min-width: 700px;
	max-height: 150px;
	min-height: 150px;
}
.reviewBtn {
	width:90px;
	height: 30px;
	background-color: #9AD0C2;
	border:none;
	border-radius: 15px;
	margin-top: 10px;
	margin-right: 20px;
}


.current-length_wrap {
	float: right;
	margin-right:-20px;
}


.rate { display: inline-block;  border: 0;margin-right: 15px; display: flex; margin-left: 0px; margin-bottom:15px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;}
.rate > input {display: none;}
.rate > label {float: right;color: #ddd}
.rate > label:before {display: inline-block;font-size: 1rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: "Font Awesome 5 Free";
    content: "\f005 "; font-weight: 900;}
.rate .half:before {content: "\f123 "; position: absolute;padding-right: 0; font-weight: 900;}
.rate input:checked ~ label, 
.rate label:hover,.rate label:hover ~ label { color: #f73c32 !important;  } 
.rate input:checked + .rate label:hover,
.rate input input:checked ~ label:hover,
.rate input:checked ~ .rate label:hover ~ label,  
.rate label:hover ~ input:checked ~ label { color: #f73c32 !important;  } 


#user_review_null p {
	text-align: center;
	font-size: 30px;
	margin-top: 90px;

}
#user_review {
	width: 1200px;
	margin: 30px auto;
}

@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
 @font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
          
