* {
	padding: 0;
	margin-bottom: 0px;
}

a {
	text-decoration: none;
	color: #242424;
}

#header_top_bar .top_bar {
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #000; 
    width: 100%;
    display: block; 
    z-index: 100; 
}

div.top_bar .top_menu_containerfix{
	display: flex;
	justify-content: space-around;
	position: absolute; 
    left: 0;
    width: 100%; 
    z-index: 2; 
    background-color: #000;
    padding: 10px 0; 
}

div.section_wrap .top_menu_container{
	display: flex;
	justify-content: space-around;
	position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 2; 
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 0;
}

.empty {
	width: 250px;
}

.category a {
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
}

.category, .search {
    display: flex;
    align-items: center;
}

.search input {
	height: 23px;
}

.top_menu_container img {
	width: 20px;
	height: 20px;
}

h2{
	margin-top: -125px;
	text-align: center;
	font-size: 3em;
	padding: 50px;
}


div.section_wrap  {
	margin: 0 auto;
	display: flex;
	width: 100%;
	gap: 31px;
}

div.itembody {
    margin-top: 177px; 
}

div.section_wrap .container{
	display: flex;
	justify-content: center;
	width: 80%;
}

.container .list{
	display: flex;
	justify-content: space-around;
	gap: 30px;
	flex-wrap: wrap; 
	border: 1px solid #dadada;
	padding: 30px;
}

.list div img{
	width: 235px;
	height: 330px;
}
.ranking_and_soon_forthcoming {
	/* width: 1600px; */
	margin-left: 190px;
	margin-top: 97px;
}

.soon_forthcoming ul div img {
	width: 150px;
	height: 200px;
}
section .section_wrap .ranking,
.soon_forthcoming {
	
/* margin-top: 100px; */
	
margin: 100px 0 100px 60px;
	
width: 30%;
}

.ranking h3,
.soon_forthcoming h3,
.itembody h3{
	margin-bottom: 15px;
}

.ranking table tr td{
	border-bottom: 1px solid #dadada;
	height: 145px;
	width: 0px;
	text-align: center;
}


.container .list_new{
	display: flex;
	justify-content: center;
	gap: 50px;
	flex-wrap: wrap;
	border: 1px solid #dadada;
	width: 73%;
	margin: 0 auto;
	padding: 30px;
}

.list_new div img{
	width: 235px;
	height: 330px;
}

.ranking ul {
  list-style: none;
  padding: 0;
  border: 1px solid #dadada;
  width:500px;
}

.ranking ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dadada;
}

.ranking ul li:last-child {
  border-bottom: none;
}
/*순위부분  */
.ranking ul li > span {
  margin-right: 10px;
  font-weight: bold;
  width:35px;
}

.ranking ul li img {
  width: 80px;
  height: 105px;
  margin-right: 10px;
}
.ranking ul li a:last-child {
	width:345px;
}

.ranking ul li a:last-child {
  flex-grow: 1;
}