@font-face {
    font-family: 'LINESeedKR-Th';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
 @font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
          
body {
    font-family: 'LINESeedKR-Rg';
    overflow: hidden;
}

.section_wrap {
    display: flex;
}

* {
    color: #242424;
}

/* reservation_wrap ---------------------------------------------------------------------*/
.reservation_wrap {
    width: 630px;
    height: 550px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #265073;
}

/* step -------------------------------------------------------------------------------- */
.step {
    width: 610px;
    height: 50px;
    display: flex;
    background-color: #265073;
    font-family: 'LINESeedKR-Bd';
    font-size: 1.1em;
}

.step   div {
    width: 100px;
    text-align: center;
    line-height: 55px;
    background-color: #dfecf7;
}

.step   .step2 {
    background-color: #fff;
    color: #265073;
}

.step   p {
    margin: auto;
    margin-left: 70px;
    color: #fff;
    font-size: 1.2em;
}

.step img {
	width: 180px;
	height: 45px;
	margin-left: 18px;
}


/* reservation ------------------------------------------------------------------------- */
.reservation {
    width:  610px;
    height: 480px;
    display: inline-block;
    background-color: #fff;
    margin: auto;
}

.theater {
    text-align: center;
  }
  
  .stage {
    background-color: #666;
    color: #fff;
    padding: 10px;
    width: 400px;
    box-sizing: border-box;
    margin: 20px auto 10px auto;
  }
  
.seating-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 30px;
    box-sizing: border-box;
}


.section-row {
    display: flex;
    justify-content: center;
    width: 100%;
}


  .stage_section {
    margin: 0;
  }

  #section-A {
    margin-bottom: 30px;
}

#section-B,
#section-C {
    margin-left: 0; /* 구역 사이의 간격 제거 */
}
  
.section-title {
  background-color: #ddd;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
  
.seats {
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* 열 개수를 15로 늘림 */
    gap: 3px;
    width: 100%; /* 좌석 영역 너비를 100%로 설정 */
    height: auto;
    margin: 0 auto;
}
  
.seat {
  width: 20px;
  height: 20px;
  background-color: #b7eedf;
  cursor: pointer;
  position: relative;
}

.seat-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #333;
    text-shadow: none;
}

.seat.reserved {
    background-color: #f0f0f0; /* 예매된 좌석 색 */
}
  
  .seat.occupied {
    background-color: #eee;
    cursor: not-allowed;
  }


/* reservation info -------------------------------------------------------------------- */
.reservation_info {
    width: 210px;
    height: 550px;
    border: 10px solid #265073;
    border-left: none;
    box-sizing: border-box;
    display: inline-block;
    background-color: #265073;
}

.reservation_info   div {
    border-bottom: 5px solid #265073;
    background-color: #fff;
}

.reservation_info   .performance {
    width: 200px;
    height: 110px;
    background-color: #265073;
    display: flex;
} 

.reservation_info   .performance    .performance_info {
    background-color: #265073;
    font-size: .8em;
    word-break: break-all;
    color: #fff;
}

.reservation_info   .performance    .performance_info   p.name {
    display: inline-block;
    font-family: 'LINESeedKR-Bd';
    height: 35px;
    overflow: hidden;
    margin: 0;
    margin-top: 10px;
    color: #fff;
}
 
.reservation_info   .performance    .performance_info   p.date1 {
    display: inline-block;
    font-family: 'LINESeedKR-Th';
    height: 15px;
    overflow: hidden;
    margin: 0;
    letter-spacing: 0px;
    color: #fff;
}

.reservation_info   .performance    .performance_info   p.date2 {
    display: inline-block;
    font-family: 'LINESeedKR-Th';
    height: 15px;
    overflow: hidden;
    margin: 0;
    letter-spacing: 0px;
    color: #fff;
}

.reservation_info   .performance    .performance_info   p.location {
    display: inline-block;
    font-family: 'LINESeedKR-Th';
    font-size: .8;
    height: 15px;
    overflow: hidden;
    margin: 0;
    letter-spacing: 0px;
    color: #fff;
}

.performance    img {
    width: 70px;
    height: 100px;
    margin-right: 8px;
    margin-top: 5px;
}

.reservation_info   .select_show {
    width: 200px;
    height: 80px;
    padding: 12px 10px;
    box-sizing: border-box;
}

.reservation_info   .select_show    p {
    margin: 0;
    font-family: 'LINESeedKR-Bd';
    color: #242424;
    font-size: .9em;
}

.reservation_info   .select_show    div {
    list-style: none;
    font-size: .8em;
    border: none;
    margin-left: 3px;
}

.reservation_info   .money {
    width: 200px;
    height: 250px;
    padding: 10px;
    box-sizing: border-box;
    font-size: .8em;
    color: #4b4b4b;
    line-height: 20px;
    text-align: left;
}

.reservation_info   .money    p {
    margin: 0;
    font-family: 'LINESeedKR-Bd';
    font-size: 1.2em;
    color: #242424;
    margin-bottom: 10px;
    text-align: left;
}

.reservation_info   .money  >   div {
    border: none;
}

.reservation_info   .money  .line {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.reservation_info   .money  .line:nth-child(5),
.reservation_info   .money  .line:nth-child(8) {
    font-family: 'LINESeedKR-Bd';
    border-bottom: 1px dashed  #dadada;
    margin-bottom: 5px;
}

.reservation_info   .money  .line:nth-child(9) {
    font-family: 'LINESeedKR-Bd';
}

.reservation_info   .money  .label {
    color: #4b4b4b;
    margin-right: 8px;
    text-align: left;
}

.reservation_info   .money  .value {
    text-align: right;
}

.reservation_info   .pre_button {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #fcfff4;
    text-decoration: none;
    text-align: center;
    line-height: 43px;
    font-family: 'LINESeedKR-Bd';
    font-size: 1.3em;
    color: #242424;
    border-radius: 3px;
    margin-bottom: 5px;
}

.reservation_info   .next_button {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #F1FADA;
    text-decoration: none;
    text-align: center;
    line-height: 43px;
    font-family: 'LINESeedKR-Bd';
    font-size: 1.3em;
    color: #242424;
    border: none;
    border-radius: 3px;
    
    &:hover {
    	cursor: pointer;
    }
}







  
.seats .seat.selected {
  background-color: #000 !important;
  
}

.seats .seat.selected .seat-number {
  color: #fff !important;
}