<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
	<link rel="icon" type="image/x-icon" th:href="@{/img/icon.png}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    
	<title th:replace="~{/include/title.html::title}"></title>
	
	<link th:href="@{/css/include/footer.css}" rel="stylesheet" />
	
	<script th:src="@{/js/home/topbar.js}" type="text/javascript"></script>
	<script th:src="@{/js/home/search.js}" type="text/javascript"></script>
</head>
<body>
	search
</body>
</html>