<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.ticketreserve.admin.AdminDaoForMyBatis" >

	<select id="selectAdminById" parameterType="String" resultType="com.office.ticketreserve.admin.AdminDto">
	    SELECT 
	        * 
	    FROM 
	        TBL_ADMIN 
	    WHERE 
	        A_ID = #{a_id}
	</select>
	
	<insert id="insertAdmin" 
			parameterType="com.office.ticketreserve.admin.AdminDto">
		
		INSERT INTO 
			TBL_ADMIN
				(A_NO, A_ID, A_PW, A_NAME, A_MAIL, A_PHONE, A_REG_DATE, A_MOD_DATE) 
		VALUES
			(ADMIN_SEQ.NEXTVAL, #{a_id}, #{a_pw}, #{a_name}, #{a_mail}, #{a_phone}, SYSTIMESTAMP, SYSTIMESTAMP)

	</insert>

	<select id="selectAllUsers" resultType="com.office.ticketreserve.user.UserDto">
	    SELECT 
	        * 
	    FROM 
	        TBL_USER 
	</select>
	
	<select id="selectUsersById" 
			parameterType="String"
			resultType="com.office.ticketreserve.user.UserDto">
			
	    SELECT 
	        * 
	    FROM 
	        TBL_USER 
	    WHERE
	    	U_ID = #{u_id}
	        
	</select>
	
	<select id="selectUsersByName" 
			parameterType="String"
			resultType="com.office.ticketreserve.user.UserDto">
			
	    SELECT 
	        * 
	    FROM 
	        TBL_USER 
	    WHERE
	    	U_NAME = #{u_name}
	        
	</select>
	
	<select id="selectUsersByMail" 
			parameterType="String"
			resultType="com.office.ticketreserve.user.UserDto">
			
	    SELECT 
	        * 
	    FROM 
	        TBL_USER 
	    WHERE
	    	U_MAIL = #{u_mail}
	        
	</select>
	
	<select id="selectAdminByIdPw" 
	        parameterType="map" 
	        resultType="com.office.ticketreserve.admin.AdminDto">
	        
	    SELECT 
	    	*
	    FROM 
	    	TBL_ADMIN 
	    WHERE 
	    	A_ID = #{a_id} 
	    	AND 
	    	A_PW = #{a_pw}
	    
	</select>
	
	<select id="selectAllAdmins" resultType="com.office.ticketreserve.admin.AdminDto">
	    SELECT 
	        * 
	    FROM 
	        TBL_ADMIN 
	</select>
	
	<select id="selectAdminsById" 
			parameterType="String"
			resultType="com.office.ticketreserve.admin.AdminDto">
			
	    SELECT 
	        * 
	    FROM 
	        TBL_ADMIN 
	    WHERE
	    	A_ID = #{a_id}
	        
	</select>
	
	<select id="selectAdminsByName" 
			parameterType="String"
			resultType="com.office.ticketreserve.admin.AdminDto">
			
	    SELECT 
	        * 
	    FROM 
	        TBL_ADMIN 
	    WHERE
	    	A_NAME = #{a_name}
	        
	</select>
	
	<select id="selectAdminsByMail" 
			parameterType="String"
			resultType="com.office.ticketreserve.admin.AdminDto">
			
	    SELECT 
	        * 
	    FROM 
	        TBL_ADMIN 
	    WHERE
	    	A_MAIL = #{a_mail}
	        
	</select>
	
	<delete id="deleteAdmin"
			parameterType="Integer">
	
		DELETE FROM TBL_ADMIN WHERE A_NO = #{a_no}
	
	</delete>
	
	<select id="selectPerfomanceById" 
			parameterType="String"
			resultType="com.office.ticketreserve.productpage.PerfomanceDto">
			
	    SELECT 
	        * 
	    FROM 
	        TBL_PERFOMANCE 
	    WHERE
	    	P_ID = #{id}
	        
	</select>
	
	<insert id="insertPerfomance" 
			parameterType="com.office.ticketreserve.productpage.PerfomanceDto">
		
		INSERT INTO 
			TBL_PERFOMANCE(
				P_ID, P_NAME, P_START_DATE, P_END_DATE, 
				P_GRADE, P_THEATER, P_PLACE, 
				P_LATITUDE, P_LOGNITUDE, P_THUM, 
				P_CATEGORY, P_MAX_RESERVE, P_NOW_RESERVE, 
				P_RUNNING_TIME, P_CHARACTERS,
				P_LIKE, P_DETAIL_IMG, 
				P_AGENCY_INFO, P_HOST, P_INQUIRY, 
				P_REG_DATE, P_MOD_DATE, P_DETAIL_CAUTIONS) 
		VALUES(
				#{p_id}, #{p_name}, #{p_start_date}, #{p_end_date},
				#{p_grade}, #{p_theater}, #{p_place}, 
				#{p_latitude}, #{p_lognitude}, #{p_thum}, 
				#{p_category}, #{p_max_reserve}, 0, 	
				#{p_running_time}, #{p_characters}, 
				0, #{p_detail_img},
				#{p_agency_info}, #{p_host}, #{p_inquiry},
				SYSTIMESTAMP, SYSTIMESTAMP, #{p_detail_cautions})

	</insert>
	
	<insert id="insertPerfomanceNotDetailCautions" 
			parameterType="com.office.ticketreserve.productpage.PerfomanceDto">
		
		INSERT INTO 
			TBL_PERFOMANCE(
				P_ID, P_NAME, P_START_DATE, P_END_DATE, 
				P_GRADE, P_THEATER, P_PLACE, 
				P_LATITUDE, P_LOGNITUDE, P_THUM, 
				P_CATEGORY, P_MAX_RESERVE, P_NOW_RESERVE, 
				P_RUNNING_TIME, P_CHARACTERS,
				P_LIKE, P_DETAIL_IMG, 
				P_AGENCY_INFO, P_HOST, P_INQUIRY, 
				P_REG_DATE, P_MOD_DATE) 
		VALUES(
				#{p_id}, #{p_name}, #{p_start_date}, #{p_end_date},
				#{p_grade}, #{p_theater}, #{p_place}, 
				#{p_latitude}, #{p_lognitude}, #{p_thum}, 
				#{p_category}, #{p_max_reserve}, 0, 	
				#{p_running_time}, #{p_characters}, 
				0, #{p_detail_img},
				#{p_agency_info}, #{p_host}, #{p_inquiry},
				SYSTIMESTAMP, SYSTIMESTAMP)

	</insert>
	
	<update id="updateAdminWitoutPw"
			parameterType="com.office.ticketreserve.admin.AdminDto">
			
		UPDATE 
			TBL_ADMIN 
		SET 
			A_NAME = #{a_name}, 
			A_MAIL = #{a_mail},
		 	A_PHONE = #{a_phone}, 
		 	A_MOD_DATE = SYSTIMESTAMP 
		 WHERE 
		 	A_ID = #{a_id}
	
	</update>
	
	<update id="updateUserWithoutPw"
			parameterType="com.office.ticketreserve.user.UserDto">
			
		UPDATE 
			TBL_USER 
		SET 
			U_NAME = #{u_name}, 
			U_MAIL = #{u_mail},
		 	U_PHONE = #{u_phone}, 
		 	U_ADDRESS = #{u_address}, 
		 	U_MOD_DATE = SYSTIMESTAMP 
		 WHERE 
		 	U_ID = #{u_id}
	
	</update>
	
	<select id="selectAllPerfomance" 
			resultType="com.office.ticketreserve.productpage.PerfomanceDto">
			
	    SELECT 
	        * 
	    FROM 
	        TBL_PERFOMANCE
	        
	</select>
	
	<select id="selectAllPerfomanceNoTicket" 
			resultType="com.office.ticketreserve.productpage.PerfomanceDto">
			
	    SELECT 
	        * 
	    FROM 
	        TBL_PERFOMANCE 
	    WHERE 
	    	P_TICKET IS NULL 
	    	OR 
	    	P_TIME IS NULL
	        
	</select>
	
	<select id="selectAllPerfomanceByName" 
			parameterType="String" 
			resultType="com.office.ticketreserve.productpage.PerfomanceDto">
			
	    SELECT * FROM TBL_PERFOMANCE WHERE P_NAME LIKE '%' || #{p_name} || '%'
	        
	</select>
	
</mapper>
