<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.ticketreserve.reservation.ReservationDao" >

	<select id="selectReservation" parameterType="map" resultType="com.office.ticketreserve.reservation.ReservationDto">
	
	    SELECT * FROM TBL_RESERVE
	    <where>
	        T_NO = #{t_no}
	        AND TRUNC(R_DATE) = TO_DATE(#{date}, 'YYYY-MM-DD')
	        AND R_TIME = #{time}
	    </where>
	    
	</select>

</mapper>