<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.ticketreserve.reservation.ReservationDao" >

	<select id="selectReservation" 
			parameterType="map" 
			resultType="com.office.ticketreserve.reservation.ReservationDto">
	
	    SELECT * FROM TBL_RESERVE
	    <where>
	        T_NO = #{t_no}
	        AND TRUNC(R_DATE) = TO_DATE(#{date}, 'YYYY-MM-DD')
	        AND R_TIME = #{time}
	        AND R_PAYMENT_STATE != -1
	    </where>
	    
	</select>
	
	<insert id="insertReservationSeat1"
			parameterType="map" >
		INSERT INTO 
			TBL_RESERVE
				(R_NO, U_ID, R_SUB_PHONE, T_NO, R_DATE, R_TIME, R_TAKE_TICKET, R_PRICE, R_PAYMENT_STATE, T_SEAT, R_REG_DATE, R_MOD_DATE, R_DISCOUNT) 
		VALUES
			(RESERVE_SEQ.NEXTVAL, #{u_id}, #{r_sub_phone}, #{t_no}, #{r_date}, #{r_time}, #{r_take_ticket}, #{r_price}, 1, #{t_seat}, SYSTIMESTAMP, SYSTIMESTAMP, #{r_discount})
	</insert>
	
	<insert id="insertReservationSeat2"
			parameterType="map" >
		INSERT INTO 
			TBL_RESERVE
				(R_NO, U_ID, R_SUB_PHONE, T_NO, R_DATE, R_TIME, R_TAKE_TICKET, R_PRICE, R_PAYMENT_STATE, T_SEAT, R_REG_DATE, R_MOD_DATE, R_DISCOUNT) 
		VALUES
			(RESERVE_SEQ.NEXTVAL, #{u_id}, #{r_sub_phone}, #{t_no}, #{r_date}, #{r_time}, #{r_take_ticket}, #{r_price}, 1, #{t_seat2}, SYSTIMESTAMP, SYSTIMESTAMP, #{r_discount})
	</insert>
	
	<update id="updateReservationForCancel"
			parameterType="Integer">
	
		UPDATE TBL_RESERVE SET R_PAYMENT_STATE = - 1 WHERE R_NO = #{r_no}
	
	</update>
	
	<select id="selectPId" 
			parameterType="Integer" 
			resultType="String">
	
	    SELECT P_ID FROM TBL_TICKET WHERE T_NO = #{t_no}
	    
	</select>
	
	<select id="selectTNoByRNo" 
			parameterType="Integer" 
			resultType="Integer">
	
	    SELECT T_NO FROM TBL_RESERVE WHERE R_NO = #{r_no}
	    
	</select>

	<update id="updateNowReserve"
			parameterType="String">
	
	    UPDATE TBL_PERFOMANCE
	    SET P_NOW_RESERVE = P_NOW_RESERVE + 1
	    WHERE P_ID = #{p_id}
	
	</update>

	<update id="updateNowReserveDown"
			parameterType="String">
	
	    UPDATE TBL_PERFOMANCE
	    SET P_NOW_RESERVE = P_NOW_RESERVE - 1
	    WHERE P_ID = #{p_id}
	
	</update>
	
</mapper>